<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="true"
         stopOnIncomplete="true"
         stopOnSkipped="true"
         strict="true"
         verbose="true">
  <testsuites>
    <testsuite name="all_tests" />
    <directory> ./tests</directory>
  </testsuites>
</phpunit>
